LINE Form Options 2.json
{
  "name": "Supervisor Daily Report v2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "supervisor-report",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "n1-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 340],
      "webhookId": "supervisor-report"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const raw = $input.first().json;\nconst d = raw.body || raw;\nconst now = new Date();\nconst submitTime = now.toLocaleTimeString('zh-TW', { hour: '2-digit', minute: '2-digit', hour12: false });\nconst weekday = new Date(d.date + 'T00:00:00').toLocaleDateString('zh-TW', { weekday: 'long' });\nconst safeStr = s => (s || '').slice(0, 30);\nconst fileName = `${d.date}_${safeStr(d.contractor)}_${safeStr(d.projectName)}.pdf`;\nconst photoUrls = d.photoUrls || [];\nreturn [{ json: { ...d, submitTime, weekday, fileName, photoUrls, photoCount: photoUrls.length } }];"
      },
      "id": "n2-prepare",
      "name": "Prepare Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 340]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const d = $input.first().json;\nconst lang = d.language || 'zh';\nconst LBL = {\n  en: {\n    title: 'Work Daily Report',\n    projectName: 'Project Name', constructionArea: 'Construction Area',\n    date: 'Date', weekday: 'Day',\n    weather: 'Weather', morning: 'AM', afternoon: 'PM',\n    time: 'Submit Time',\n    constructionLocation: 'Construction Location',\n    workContent: 'Work Content',\n    constructionItems: 'Construction Items (Today)',\n    tomorrowPlan: \"Tomorrow's Plan\",\n    materialsUsed: 'Materials Used', equipment: 'Equipment Used',\n    workers: 'Workers', persons: '',\n    communication: 'Contractor Communication',\n    otherNotes: 'Other Notes',\n    samplingTests: 'Sampling & Testing Records',\n    qualityInspection: 'Quality & Qty Inspection',\n    supervisor: 'Unit Supervisor', inspector: 'Inspector'\n  },\n  th: {\n    title: 'บันทึกงานประจำวัน',\n    projectName: 'ชื่อโครงการ', constructionArea: 'พื้นที่ก่อสร้าง',\n    date: 'วันที่', weekday: 'วัน',\n    weather: 'สภาพอากาศ', morning: 'เช้า', afternoon: 'บ่าย',\n    time: 'เวลาที่ส่ง',\n    constructionLocation: 'ตำแหน่งก่อสร้าง',\n    workContent: 'เนื้อหางาน',\n    constructionItems: 'รายการงาน (วันนี้)',\n    tomorrowPlan: 'แผนงานพรุ่งนี้',\n    materialsUsed: 'วัสดุที่ใช้', equipment: 'เครื่องมือ',\n    workers: 'จำนวนคน', persons: 'คน',\n    communication: 'การสื่อสารกับผู้รับเหมา',\n    otherNotes: 'หมายเหตุสำคัญ',\n    samplingTests: 'การเก็บตัวอย่าง',\n    qualityInspection: 'การตรวจสอบคุณภาพ',\n    supervisor: 'ผู้จัดการ', inspector: 'ผู้ตรวจสอบ'\n  },\n  zh: {\n    title: '監工人員工作日誌',\n    projectName: '工程名稱', constructionArea: '施工廠區',\n    date: '日期', weekday: '星期',\n    weather: '天氣', morning: '上午', afternoon: '下午',\n    time: '時間',\n    constructionLocation: '施工部位',\n    workContent: '工作內容',\n    constructionItems: '施工項目（今日）',\n    tomorrowPlan: '明日預計工作',\n    materialsUsed: '供給材料使用', equipment: '機具使用',\n    workers: '出工人數', persons: '人',\n    communication: '與廠商溝通協調記錄',\n    otherNotes: '其他重要事項記錄',\n    samplingTests: '施工取樣試驗記錄',\n    qualityInspection: '品質、數量檢查記錄',\n    supervisor: '單位主管', inspector: '監工人員'\n  }\n};\nconst L = LBL[lang] || LBL.zh;\nconst LZH = LBL.zh;\nconst photoUrls = d.photoUrls || [];\nconst esc = s => String(s || '-').replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;');\nlet photoHtml = '';\nif (photoUrls.length > 0) {\n  for (let i = 0; i < photoUrls.length; i += 4) {\n    const chunk = photoUrls.slice(i, i + 4);\n    const cells = chunk.map(url => `<td style='width:50%;padding:4px'><img src='${url}' style='width:100%;height:auto'></td>`);\n    while (cells.length < 4) cells.push(`<td style='width:50%;padding:4px'></td>`);\n    photoHtml += `<table style='width:100%;border-collapse:collapse;margin-top:8px;page-break-inside:avoid'><tr>${cells.slice(0,2).join('')}</tr><tr>${cells.slice(2,4).join('')}</tr></table>`;\n  }\n}\nfunction buildHtml(Lb) {\n  return `<!DOCTYPE html><html><head><meta charset='UTF-8'><style>body{font-family:Arial,'Noto Sans Thai',sans-serif;font-size:10pt;margin:0}.t{text-align:center;font-weight:bold;margin-bottom:4px}table.m{width:100%;border-collapse:collapse}table.m td{border:1px solid #333;padding:4px 6px;vertical-align:top}.sh{background:#ddd;font-weight:bold;text-align:center}.c{min-height:40px;white-space:pre-wrap}</style></head><body><div class='t' style='font-size:14pt'>ECO INFINIC</div><div class='t' style='font-size:12pt;margin-bottom:8px'>${Lb.title}</div><table class='m'><tr><td style='width:12%'><b>${Lb.projectName}</b></td><td style='width:38%'>${esc(d.projectName)}</td><td style='width:12%'><b>${Lb.constructionArea}</b></td><td style='width:38%'>${esc(d.constructionArea)}</td></tr><tr><td><b>${Lb.date}</b></td><td>${esc(d.date)}</td><td><b>${Lb.weekday}</b></td><td>${esc(d.weekday)}</td></tr><tr><td><b>${Lb.weather}</b></td><td colspan='3'>${Lb.morning}: ${esc(d.morningWeather)} / ${Lb.afternoon}: ${esc(d.afternoonWeather)}</td></tr><tr><td><b>${Lb.time}</b></td><td colspan='3'>${esc(d.submitTime)}</td></tr><tr><td class='sh' colspan='4'>${Lb.constructionLocation}</td></tr><tr><td colspan='4' class='c'>${esc(d.constructionLocation)}</td></tr><tr><td class='sh' colspan='4'>${Lb.workContent}</td></tr><tr><td><b>${Lb.constructionItems}</b></td><td colspan='3' class='c' style='min-height:60px'>${esc(d.constructionItems)}</td></tr><tr><td><b>${Lb.tomorrowPlan}</b></td><td colspan='3' class='c' style='min-height:50px'>${esc(d.tomorrowPlan)}</td></tr><tr><td><b>${Lb.materialsUsed}</b></td><td>${esc(d.materialsUsed)}</td><td><b>${Lb.equipment}</b></td><td>${esc(d.equipment)}</td></tr><tr><td><b>${Lb.workers}</b></td><td colspan='3'>${esc(d.workers)} ${Lb.persons}</td></tr><tr><td class='sh' colspan='4'>${Lb.communication}</td></tr><tr><td colspan='4' class='c'>${esc(d.communication)}</td></tr><tr><td class='sh' colspan='4'>${Lb.otherNotes}</td></tr><tr><td colspan='4' class='c'>${esc(d.otherNotes)}</td></tr><tr><td colspan='2'><b>${Lb.samplingTests}</b></td><td colspan='2'><b>${Lb.qualityInspection}</b></td></tr><tr><td colspan='2' class='c'>${esc(d.samplingTests)}</td><td colspan='2' class='c'>${esc(d.qualityInspection)}</td></tr><tr><td><b>${Lb.supervisor}</b></td><td></td><td><b>${Lb.inspector}</b></td><td>${esc(d.supervisor)}</td></tr></table>${photoHtml}</body></html>`;\n}\nconst html = buildHtml(L);\nconst htmlZH = buildHtml(LZH);\nreturn [{ json: { ...d, pdfHtml: html, pdfHtmlZH: htmlZH } }];"
      },
      "id": "n3-html",
      "name": "Generate PDF HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 340]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pdf.co/v1/pdf/convert/from/html",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ html: $json.pdfHtml, name: $json.fileName, async: false, margins: '15mm 15mm 15mm 15mm', paperSize: 'A4' }) }}",
        "options": {}
      },
      "id": "n4-pdfco",
      "name": "PDF.co API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 340],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "PDF.co API Key"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "data"
            }
          }
        }
      },
      "id": "n5-download",
      "name": "Download PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 340]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "upload",
        "name": "={{ $('Generate PDF HTML').first().json.fileName }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1wcJmQkM_lSpZW5Nw-1TPZ51Dq-BP1D37",
          "mode": "id"
        },
        "binaryPropertyName": "data",
        "options": {}
      },
      "id": "n6-drive",
      "name": "Google Drive Upload",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1340, 340],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://www.googleapis.com/drive/v3/files/' + $json.id + '/permissions' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "raw",
        "rawContentType": "application/json",
        "body": "{\"type\":\"anyone\",\"role\":\"reader\"}",
        "options": {}
      },
      "id": "n7-permission",
      "name": "Set Drive Permission",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 340],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pdf.co/v1/pdf/convert/from/html",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ html: $('Generate PDF HTML').first().json.pdfHtmlZH, name: $('Generate PDF HTML').first().json.fileName.replace('.pdf', '_ZH.pdf'), async: false, margins: '15mm 15mm 15mm 15mm', paperSize: 'A4' }) }}",
        "options": {}
      },
      "id": "n4b-pdfco-zh",
      "name": "PDF.co API (ZH)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1780, 340],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "PDF.co API Key"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "data"
            }
          }
        }
      },
      "id": "n5b-download-zh",
      "name": "Download PDF (ZH)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2000, 340]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "upload",
        "name": "={{ $('Generate PDF HTML').first().json.fileName.replace('.pdf', '_ZH.pdf') }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1wcJmQkM_lSpZW5Nw-1TPZ51Dq-BP1D37",
          "mode": "id"
        },
        "binaryPropertyName": "data",
        "options": {}
      },
      "id": "n6b-drive-zh",
      "name": "Google Drive Upload (ZH)",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [2220, 340],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://www.googleapis.com/drive/v3/files/' + $json.id + '/permissions' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "raw",
        "rawContentType": "application/json",
        "body": "{\"type\":\"anyone\",\"role\":\"reader\"}",
        "options": {}
      },
      "id": "n7b-permission-zh",
      "name": "Set Drive Permission (ZH)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2440, 340],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const prepData = $('Prepare Data').first().json;\nconst driveFileId = $('Google Drive Upload').first().json.id;\nconst driveUrl = 'https://drive.google.com/file/d/' + driveFileId + '/view';\nconst driveFileIdZH = $('Google Drive Upload (ZH)').first().json.id;\nconst driveUrlZH = 'https://drive.google.com/file/d/' + driveFileIdZH + '/view';\nconst lang = prepData.language || 'en';\nconst CL = {\n  en: { title: 'Work Report Ready', date: 'Date', project: 'Project', photos: 'Photos', download: 'Download PDF Report' },\n  th: { title: 'รายงานงานพร้อมแล้ว', date: 'วันที่', project: 'โครงการ', photos: 'รูปภาพ', download: 'ดาวน์โหลดรายงาน PDF' },\n  zh: { title: '工作日誌已生成', date: '日期', project: '工程', photos: '照片', download: '下載 PDF 報告' }\n}[lang] || { title: 'Work Report Ready', date: 'Date', project: 'Project', photos: 'Photos', download: 'Download PDF Report' };\nconst contractorFlex = { to: prepData.lineUserId, messages: [{ type: 'flex', altText: CL.title, contents: { type: 'bubble', header: { type: 'box', layout: 'vertical', backgroundColor: '#1a73e8', contents: [{ type: 'text', text: CL.title, color: '#ffffff', weight: 'bold', size: 'lg' }] }, body: { type: 'box', layout: 'vertical', spacing: 'sm', contents: [{ type: 'text', text: CL.date + ': ' + prepData.date, size: 'sm', color: '#555555' }, { type: 'text', text: CL.project + ': ' + prepData.projectName, size: 'sm', color: '#555555' }, { type: 'text', text: CL.photos + ': ' + prepData.photoCount, size: 'sm', color: '#555555' }] }, footer: { type: 'box', layout: 'vertical', contents: [{ type: 'button', style: 'primary', color: '#1a73e8', action: { type: 'uri', label: CL.download, uri: driveUrl } }] } } }] };\nconst jerryFlex = { to: 'Ubf65144da2093a2cb9e01528d773413f', messages: [{ type: 'flex', altText: '監工日誌報告已生成', contents: { type: 'bubble', header: { type: 'box', layout: 'vertical', backgroundColor: '#0d7a0d', contents: [{ type: 'text', text: '監工日誌報告已生成', color: '#ffffff', weight: 'bold', size: 'lg' }] }, body: { type: 'box', layout: 'vertical', spacing: 'sm', contents: [{ type: 'text', text: '日期: ' + prepData.date, size: 'sm', color: '#555555' }, { type: 'text', text: '工程: ' + prepData.projectName, size: 'sm', color: '#555555' }, { type: 'text', text: '廠商: ' + prepData.contractor, size: 'sm', color: '#555555' }, { type: 'text', text: '照片: ' + prepData.photoCount + ' 張', size: 'sm', color: '#555555' }] }, footer: { type: 'box', layout: 'vertical', contents: [{ type: 'button', style: 'primary', color: '#0d7a0d', action: { type: 'uri', label: '下載中文 PDF 報告', uri: driveUrlZH } }] } } }] };\nreturn [{ json: { contractorPayload: JSON.stringify(contractorFlex), jerryPayload: JSON.stringify(jerryFlex) } }];"
      },
      "id": "n8-messages",
      "name": "Build Messages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2660, 340]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/push",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.parse($json.contractorPayload) }}",
        "options": {}
      },
      "id": "n9-line-contractor",
      "name": "LINE → Contractor",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2880, 240],
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/push",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.parse($json.jerryPayload) }}",
        "options": {}
      },
      "id": "n10-line-jerry",
      "name": "LINE → Jerry",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2880, 440],
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "Header Auth account 2"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Prepare Data", "type": "main", "index": 0 }]]
    },
    "Prepare Data": {
      "main": [[{ "node": "Generate PDF HTML", "type": "main", "index": 0 }]]
    },
    "Generate PDF HTML": {
      "main": [[{ "node": "PDF.co API", "type": "main", "index": 0 }]]
    },
    "PDF.co API": {
      "main": [[{ "node": "Download PDF", "type": "main", "index": 0 }]]
    },
    "Download PDF": {
      "main": [[{ "node": "Google Drive Upload", "type": "main", "index": 0 }]]
    },
    "Google Drive Upload": {
      "main": [[{ "node": "Set Drive Permission", "type": "main", "index": 0 }]]
    },
    "Set Drive Permission": {
      "main": [[{ "node": "PDF.co API (ZH)", "type": "main", "index": 0 }]]
    },
    "PDF.co API (ZH)": {
      "main": [[{ "node": "Download PDF (ZH)", "type": "main", "index": 0 }]]
    },
    "Download PDF (ZH)": {
      "main": [[{ "node": "Google Drive Upload (ZH)", "type": "main", "index": 0 }]]
    },
    "Google Drive Upload (ZH)": {
      "main": [[{ "node": "Set Drive Permission (ZH)", "type": "main", "index": 0 }]]
    },
    "Set Drive Permission (ZH)": {
      "main": [[{ "node": "Build Messages", "type": "main", "index": 0 }]]
    },
    "Build Messages": {
      "main": [[
        { "node": "LINE → Contractor", "type": "main", "index": 0 },
        { "node": "LINE → Jerry", "type": "main", "index": 0 }
      ]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "tags": []
}
