LINE Form Options 2.json
{
  "name": "Supervisor Daily Report v2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "supervisor-report",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "n1-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 340],
      "webhookId": "supervisor-report"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const raw = $input.first().json;\nconst d = raw.body || raw;\nconst now = new Date();\nconst submitTime = now.toLocaleTimeString('zh-TW', { hour: '2-digit', minute: '2-digit', hour12: false });\nconst weekday = new Date(d.date + 'T00:00:00').toLocaleDateString('zh-TW', { weekday: 'long' });\nconst safeStr = s => (s || '').slice(0, 30);\nconst fileName = `${d.date}_${safeStr(d.contractor)}_${safeStr(d.projectName)}.pdf`;\nconst photoUrls = d.photoUrls || [];\nreturn [{ json: { ...d, submitTime, weekday, fileName, photoUrls, photoCount: photoUrls.length } }];"
      },
      "id": "n2-prepare",
      "name": "Prepare Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 340]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const d = $input.first().json;\nconst photoUrls = d.photoUrls || [];\nconst esc = s => String(s || '-').replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;');\nlet photoHtml = '';\nif (photoUrls.length > 0) {\n  for (let i = 0; i < photoUrls.length; i += 4) {\n    const chunk = photoUrls.slice(i, i + 4);\n    const cells = chunk.map(url => `<td style='width:50%;padding:4px'><img src='${url}' style='width:100%;height:auto'></td>`);\n    while (cells.length < 4) cells.push(`<td style='width:50%;padding:4px'></td>`);\n    photoHtml += `<table style='width:100%;border-collapse:collapse;margin-top:8px;page-break-inside:avoid'><tr>${cells.slice(0,2).join('')}</tr><tr>${cells.slice(2,4).join('')}</tr></table>`;\n  }\n}\nconst html = `<!DOCTYPE html><html><head><meta charset='UTF-8'><style>body{font-family:Arial,sans-serif;font-size:10pt;margin:0}.t{text-align:center;font-weight:bold;margin-bottom:4px}table.m{width:100%;border-collapse:collapse}table.m td{border:1px solid #333;padding:4px 6px;vertical-align:top}.sh{background:#ddd;font-weight:bold;text-align:center}.c{min-height:40px;white-space:pre-wrap}</style></head><body><div class='t' style='font-size:14pt'>ECO INFINIC</div><div class='t' style='font-size:12pt;margin-bottom:8px'>監工人員工作日誌</div><table class='m'><tr><td style='width:12%'><b>工程名稱</b></td><td style='width:38%'>${esc(d.projectName)}</td><td style='width:12%'><b>施工廠區</b></td><td style='width:38%'>${esc(d.constructionArea)}</td></tr><tr><td><b>日期</b></td><td>${esc(d.date)}</td><td><b>星期</b></td><td>${esc(d.weekday)}</td></tr><tr><td><b>天氣</b></td><td colspan='3'>上午: ${esc(d.morningWeather)} / 下午: ${esc(d.afternoonWeather)}</td></tr><tr><td><b>時間</b></td><td colspan='3'>${esc(d.submitTime)}</td></tr><tr><td class='sh' colspan='4'>施工部位</td></tr><tr><td colspan='4' class='c'>${esc(d.constructionLocation)}</td></tr><tr><td class='sh' colspan='4'>工作內容</td></tr><tr><td><b>施工項目</b></td><td colspan='3' class='c' style='min-height:60px'>${esc(d.constructionItems)}</td></tr><tr><td><b>供給材料使用</b></td><td>${esc(d.materialsUsed)}</td><td><b>機具使用</b></td><td>${esc(d.equipment)}</td></tr><tr><td><b>出工人數</b></td><td colspan='3'>${esc(d.workers)} 人</td></tr><tr><td class='sh' colspan='4'>與廠商溝通協調記錄</td></tr><tr><td colspan='4' class='c'>${esc(d.communication)}</td></tr><tr><td class='sh' colspan='4'>其他重要事項記錄</td></tr><tr><td colspan='4' class='c'>${esc(d.otherNotes)}</td></tr><tr><td colspan='2'><b>施工取樣試驗記錄</b></td><td colspan='2'><b>品質、數量檢查記錄</b></td></tr><tr><td colspan='2' class='c'>${esc(d.samplingTests)}</td><td colspan='2' class='c'>${esc(d.qualityInspection)}</td></tr><tr><td><b>單位主管</b></td><td></td><td><b>監工人員</b></td><td>${esc(d.supervisor)}</td></tr></table>${photoHtml}</body></html>`;\nreturn [{ json: { ...d, pdfHtml: html } }];"
      },
      "id": "n3-html",
      "name": "Generate PDF HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 340]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pdf.co/v1/pdf/convert/from/html",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ html: $json.pdfHtml, name: $json.fileName, async: false, margins: '15mm 15mm 15mm 15mm', paperSize: 'A4' }) }}",
        "options": {}
      },
      "id": "n4-pdfco",
      "name": "PDF.co API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 340],
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "PDF.co API Key"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "data"
            }
          }
        }
      },
      "id": "n5-download",
      "name": "Download PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 340]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "upload",
        "name": "={{ $('Generate PDF HTML').first().json.fileName }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1wcJmQkM_lSpZW5Nw-1TPZ51Dq-BP1D37",
          "mode": "id"
        },
        "binaryPropertyName": "data",
        "options": {}
      },
      "id": "n6-drive",
      "name": "Google Drive Upload",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1340, 340],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://www.googleapis.com/drive/v3/files/' + $json.id + '/permissions' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "raw",
        "rawContentType": "application/json",
        "body": "{\"type\":\"anyone\",\"role\":\"reader\"}",
        "options": {}
      },
      "id": "n7-permission",
      "name": "Set Drive Permission",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 340],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const prepData = $('Prepare Data').first().json;\nconst driveFileId = $('Google Drive Upload').first().json.id;\nconst driveUrl = 'https://drive.google.com/file/d/' + driveFileId + '/view';\nconst lang = prepData.language || 'en';\nconst isEn = lang !== 'th';\nconst contractorFlex = { to: prepData.lineUserId, messages: [{ type: 'flex', altText: isEn ? 'Work Report Ready' : 'รายงานงานพร้อมแล้ว', contents: { type: 'bubble', header: { type: 'box', layout: 'vertical', backgroundColor: '#1a73e8', contents: [{ type: 'text', text: isEn ? 'Work Report Ready' : 'รายงานงานพร้อมแล้ว', color: '#ffffff', weight: 'bold', size: 'lg' }] }, body: { type: 'box', layout: 'vertical', spacing: 'sm', contents: [{ type: 'text', text: (isEn ? 'Date' : 'วันที่') + ': ' + prepData.date, size: 'sm', color: '#555555' }, { type: 'text', text: (isEn ? 'Project' : 'โครงการ') + ': ' + prepData.projectName, size: 'sm', color: '#555555' }, { type: 'text', text: (isEn ? 'Photos' : 'รูปภาพ') + ': ' + prepData.photoCount, size: 'sm', color: '#555555' }] }, footer: { type: 'box', layout: 'vertical', contents: [{ type: 'button', style: 'primary', color: '#1a73e8', action: { type: 'uri', label: isEn ? 'Download PDF Report' : 'ดาวน์โหลดรายงาน PDF', uri: driveUrl } }] } } }] };\nconst jerryFlex = { to: 'REPLACE_WITH_JERRY_LINE_USER_ID', messages: [{ type: 'flex', altText: '監工日誌報告已生成', contents: { type: 'bubble', header: { type: 'box', layout: 'vertical', backgroundColor: '#0d7a0d', contents: [{ type: 'text', text: '監工日誌報告已生成', color: '#ffffff', weight: 'bold', size: 'lg' }] }, body: { type: 'box', layout: 'vertical', spacing: 'sm', contents: [{ type: 'text', text: '日期: ' + prepData.date, size: 'sm', color: '#555555' }, { type: 'text', text: '工程: ' + prepData.projectName, size: 'sm', color: '#555555' }, { type: 'text', text: '廠商: ' + prepData.contractor, size: 'sm', color: '#555555' }, { type: 'text', text: '照片: ' + prepData.photoCount + ' 張', size: 'sm', color: '#555555' }] }, footer: { type: 'box', layout: 'vertical', contents: [{ type: 'button', style: 'primary', color: '#0d7a0d', action: { type: 'uri', label: '下載 PDF 報告', uri: driveUrl } }] } } }] };\nreturn [{ json: { contractorPayload: JSON.stringify(contractorFlex), jerryPayload: JSON.stringify(jerryFlex) } }];"
      },
      "id": "n8-messages",
      "name": "Build Messages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 340]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/push",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.contractorPayload }}",
        "options": {}
      },
      "id": "n9-line-contractor",
      "name": "LINE → Contractor",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2000, 240],
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "LINE Bearer Token"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/push",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.jerryPayload }}",
        "options": {}
      },
      "id": "n10-line-jerry",
      "name": "LINE → Jerry",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2000, 440],
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "LINE Bearer Token"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Prepare Data", "type": "main", "index": 0 }]]
    },
    "Prepare Data": {
      "main": [[{ "node": "Generate PDF HTML", "type": "main", "index": 0 }]]
    },
    "Generate PDF HTML": {
      "main": [[{ "node": "PDF.co API", "type": "main", "index": 0 }]]
    },
    "PDF.co API": {
      "main": [[{ "node": "Download PDF", "type": "main", "index": 0 }]]
    },
    "Download PDF": {
      "main": [[{ "node": "Google Drive Upload", "type": "main", "index": 0 }]]
    },
    "Google Drive Upload": {
      "main": [[{ "node": "Set Drive Permission", "type": "main", "index": 0 }]]
    },
    "Set Drive Permission": {
      "main": [[{ "node": "Build Messages", "type": "main", "index": 0 }]]
    },
    "Build Messages": {
      "main": [[
        { "node": "LINE → Contractor", "type": "main", "index": 0 },
        { "node": "LINE → Jerry", "type": "main", "index": 0 }
      ]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "tags": []
}
