n8n-form-options.json
{
  "name": "LINE Form Options",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "form-options",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "opt-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 340],
      "webhookId": "form-options"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": "e9478a4be50d48cd8b803c0d535da3bd",
        "returnAll": true,
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "啟用|checkbox",
              "condition": "equal",
              "checkboxValue": true
            }
          ]
        },
        "options": {}
      },
      "id": "opt-notion",
      "name": "Notion: Get Options",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [460, 340],
      "credentials": {
        "notionApi": {
          "id": "YOUR_NOTION_CREDENTIAL_ID",
          "name": "Notion2"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const items = $input.all();\nconst supervisors = [];\nconst projects = [];\nconst contractors = [];\n\nfor (const item of items) {\n  const props = item.json.properties || {};\n  const nameArr = props['名稱']?.title || [];\n  const name = nameArr.map(t => t.plain_text).join('');\n  const type = props['類型']?.select?.name;\n  if (!name) continue;\n  if (type === '監工人員') supervisors.push(name);\n  else if (type === '工程名稱') projects.push(name);\n  else if (type === '施工廠商') contractors.push(name);\n}\n\nreturn [{ json: { supervisors, projects, contractors } }];"
      },
      "id": "opt-code",
      "name": "Group by Type",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 340]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Content-Type", "value": "application/json" }
            ]
          }
        }
      },
      "id": "opt-respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 340]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Notion: Get Options", "type": "main", "index": 0 }]]
    },
    "Notion: Get Options": {
      "main": [[{ "node": "Group by Type", "type": "main", "index": 0 }]]
    },
    "Group by Type": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "tags": []
}
